.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: .4em;
    padding: 0.9em 1.8em;

    // &:hover {
    //     background-color: var(--Primary-Light-grayish-blue);
    // }
}