.reply {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    border-radius: 0.8rem;

    textarea {
        font-size: 1rem;
        
        height: 5em;

        border: 2px solid var(--Neutral-Light-gray);
        border-radius: 0.4em;
        padding: 1rem;
        resize: none;

        &:hover, &:focus-within {
            border-color: var(--Neutral-Grayish-Blue);
            outline: transparent;
        }
    }
    @media screen and (max-width: 690px) {
        align-items: center;
        textarea {
            grid-column: 1 / -1;
            grid-row: 1;
        }
        .btn {
            justify-self: end;
        }
    }
}