.commentsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin-inline: auto;

    .comment-reply {
        display: grid;
        grid-template-columns: auto 1fr;
        row-gap: 2rem;
        
        .horizontal-line {
            grid-row: 1 / 3;
            height: 100%;
            width: 3px;
            margin-inline: 2rem;
        }
    }
}